@model Event_Registration_System.Models.Registration

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="text-center">Registration Details</h1>

    <div class="border p-3 rounded shadow-sm">
        <h4>Registration Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ParticipantName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ParticipantName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Event)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Event.Description)
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.RegistrationId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-link">Back to List</a>
    </div>
</div>
